<configuration>
  <system.serviceModel>
    <services>
      <service name="BookSoap">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2317/BookSoap" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="IBookSoap" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
